
#service {
    width: 100vw;
    height: 100vh;
    background-color: var(--other-clr);
    position: relative;
    margin-top: 10%;
}

#service h1{
    font-family: var(--primary-fnt);
    font-weight: 700;
    color: var(--secondary-clr);
    font-size: var(--topic-fnt-sz);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
  }

#service h1 span{
    color: var(--primary-clr);
}

.service-ud{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    width: 50%;
    border: 1.5px solid var(--underline-clr);
}

#service h2{
    position: absolute;
    top: 2.5%;
    left: 36%;
    font-size: var(--topic-background-fnt-sz);
    font-family: var(--primary-fnt);
    color: var(--shadow-clr);
    z-index: 2;
}


#service .background-div{
    position: absolute;
    top: 7.5%;
    width: 100%;
    height: 95%;
    background-color: rgba(81, 103, 246, 0.09);
    z-index: 1; 
}

.service-container {
    padding: 7%;
    position: absolute;
    top: 10%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5%;
    z-index: 2;
    animation: fadeIn 1s ease-in-out;

}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}



.service-container div {
    background-color: white ;
    padding: 30px;
    border-radius: var(--btn-border-radious);
    height: 350px;
    transition: all 0.5s ease-in-out;
    border: 1px solid var(--shadow-clr);
    
}

.service-container div:hover {
    transform: translateY(-20px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    animation: rotate-border 1s infinite ease-in-out;
}

@keyframes rotate-border {
    0% {
        border-top-color: var(--primary-clr);
        border-right-color: var(--shadow-clr);
        border-bottom-color: var(--shadow-clr);
        border-left-color: var(--shadow-clr);
    }
    25% {
        border-top-color: var(--shadow-clr);
        border-right-color: var(--primary-clr);
        border-bottom-color: var(--shadow-clr);
        border-left-color: var(--shadow-clr);
    }
    50% {
        border-top-color: var(--shadow-clr);
        border-right-color: var(--shadow-clr);
        border-bottom-color: var(--primary-clr);
        border-left-color: var(--shadow-clr);
    }
    75% {
        border-top-color: var(--shadow-clr);
        border-right-color: var(--shadow-clr);
        border-bottom-color: var(--shadow-clr);
        border-left-color: var(--primary-clr);
    }
    100% {
        border-top-color: var(--primary-clr);
        border-right-color: var(--shadow-clr);
        border-bottom-color: var(--shadow-clr);
        border-left-color: var(--shadow-clr);
    }
}

.service-container div:hover img {
    animation: sway 1s infinite alternate ease-in-out 0.2s;


}

.service-container div span {
    display: block;
    font-family: var(--primary-fnt);
    font-weight: 700;
    font-size: 1.6rem;
    padding: 10px 0px;
}

.service-container div p {
    font-family: var(--primary-fnt);
    font-weight: 300;
    font-size: 0.9rem;
    line-height: 1.5;
    color: var(--para-font-clr);
    padding: 10px 0px;

}


@keyframes sway {
    0% {
        transform: rotate(-10deg);
    }
    50% {
        transform: rotate(10deg);
    }
    100% {
        transform: rotate(-10deg);
    }
}







@media screen and (min-width: 320px) and (max-width: 374px) {
    #service {
      width: 100vw;
      min-height: 300vh; 
      background-color: var(--other-clr);
      position: relative;
      
      
    }
  
    #service h1 {
      position: relative;
      top: 5%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-family: var(--primary-fnt);
      font-weight: 700;
      color: var(--secondary-clr);
      font-size: 11vw;
      text-align: center;
      z-index: 2;
    }
  
    #service h1 span {
      color: var(--primary-clr);
    }
  
    .service-ud {
      position: absolute;
      width: 40%;
      left: 50%;
      transform: translateX(-50%);
      top: 95%;
    }
  
    #service h2 {
      position: relative;
      top: 1%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 14vw;
      text-align: center;
    }
  
    #service .background-div {
      position: absolute;
      top: 6%;
      width: 100%;
      height: 95%;
      background-color: rgba(81, 103, 246, 0.09);
      z-index: 1;
    }
  
    .service-container {
      margin-top: 50px;
      padding: 7%;
      min-height: 100%;
      position: absolute;
      top: 8%;
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      margin-top: 20px;
      gap: 40px;
      z-index: 2;
      animation: fadeIn 1s ease-in-out;
    }
  
    .service-container div {
      background-color: white;
      padding: 20px;
      border-radius: var(--btn-border-radious);
      height: 300px; 
      min-height: 200px; /* අවම උස */
      transition: all 0.5s ease-in-out;
      border: 1px solid var(--shadow-clr);
    }
  
    .service-container div img {
      width: 12vw;
    }
  
    .service-container div span {
      display: inline;
      font-family: var(--primary-fnt);
      font-weight: 700;
      font-size: 4.5vw;
      padding: 10px 0px;
      position: relative;
      bottom: 5%;
    }
  
    .service-container div p {
      font-family: var(--primary-fnt);
      font-weight: 300;
      font-size: 0.9rem;
      line-height: 1.5;
      color: var(--para-font-clr);
      padding: 10px 0px;
    }
}



@media screen and (min-width: 375px) and (max-width: 424px) {
  #service {
    width: 100vw;
    min-height: 300vh; 
    background-color: var(--other-clr);
    position: relative;
    
    
  }

  #service h1 {
    position: relative;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: var(--primary-fnt);
    font-weight: 700;
    color: var(--secondary-clr);
    font-size: 11vw;
    text-align: center;
    z-index: 2;
  }

  #service h1 span {
    color: var(--primary-clr);
  }

  .service-ud {
    position: absolute;
    width: 40%;
    left: 50%;
    transform: translateX(-50%);
    top: 95%;
  }

  #service h2 {
    position: relative;
    top: 1%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 14vw;
    text-align: center;
  }

  #service .background-div {
    position: absolute;
    top: 6%;
    width: 100%;
    height: 95%;
    background-color: rgba(81, 103, 246, 0.09);
    z-index: 1;
  }

  .service-container {
    margin-top: 50px;
    padding: 7%;
    min-height: 100%;
    position: absolute;
    top: 8%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin-top: 20px;
    gap: 40px;
    z-index: 2;
    animation: fadeIn 1s ease-in-out;
  }

  .service-container div {
    background-color: white;
    padding: 20px;
    border-radius: var(--btn-border-radious);
    height: 300px; 
    min-height: 200px; /* අවම උස */
    transition: all 0.5s ease-in-out;
    border: 1px solid var(--shadow-clr);
  }

  .service-container div img {
    width: 12vw;
  }

  .service-container div span {
    display: inline;
    font-family: var(--primary-fnt);
    font-weight: 700;
    font-size: 4.7vw;
    padding: 10px 0px;
    position: relative;
    bottom: 5%;
  }

  .service-container div p {
    font-family: var(--primary-fnt);
    font-weight: 300;
    font-size: 1rem;
    line-height: 1.5;
    color: var(--para-font-clr);
    padding: 10px 0px;
  }
}



@media screen and (min-width: 320px) and (max-width: 374px) {
  #service {
    width: 100vw;
    min-height: 300vh; 
    background-color: var(--other-clr);
    position: relative;
    
    
  }

  #service h1 {
    position: relative;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: var(--primary-fnt);
    font-weight: 700;
    color: var(--secondary-clr);
    font-size: 11vw;
    text-align: center;
    z-index: 2;
  }

  #service h1 span {
    color: var(--primary-clr);
  }

  .service-ud {
    position: absolute;
    width: 40%;
    left: 50%;
    transform: translateX(-50%);
    top: 95%;
  }

  #service h2 {
    position: relative;
    top: 1%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 14vw;
    text-align: center;
  }

  #service .background-div {
    position: absolute;
    top: 6%;
    width: 100%;
    height: 95%;
    background-color: rgba(81, 103, 246, 0.09);
    z-index: 1;
  }

  .service-container {
    margin-top: 50px;
    padding: 7%;
    min-height: 100%;
    position: absolute;
    top: 8%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin-top: 20px;
    gap: 40px;
    z-index: 2;
    animation: fadeIn 1s ease-in-out;
  }

  .service-container div {
    background-color: white;
    padding: 20px;
    border-radius: var(--btn-border-radious);
    height: 300px; 
    min-height: 200px; /* අවම උස */
    transition: all 0.5s ease-in-out;
    border: 1px solid var(--shadow-clr);
  }

  .service-container div img {
    width: 12vw;
  }

  .service-container div span {
    display: inline;
    font-family: var(--primary-fnt);
    font-weight: 700;
    font-size: 4.5vw;
    padding: 10px 0px;
    position: relative;
    bottom: 5%;
  }

  .service-container div p {
    font-family: var(--primary-fnt);
    font-weight: 300;
    font-size: 0.9rem;
    line-height: 1.5;
    color: var(--para-font-clr);
    padding: 10px 0px;
  }
}



@media screen and (min-width: 425px) and (max-width: 767px) {
#service {
  width: 100vw;
  min-height: 300vh; 
  background-color: var(--other-clr);
  position: relative;
  
  
}

#service h1 {
  position: relative;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: var(--primary-fnt);
  font-weight: 700;
  color: var(--secondary-clr);
  font-size: 11vw;
  text-align: center;
  z-index: 2;
}

#service h1 span {
  color: var(--primary-clr);
}

.service-ud {
  position: absolute;
  width: 40%;
  left: 50%;
  transform: translateX(-50%);
  top: 95%;
}

#service h2 {
  position: relative;
  top: 1%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 14vw;
  text-align: center;
}

#service .background-div {
  position: absolute;
  top: 6%;
  width: 100%;
  height: 95%;
  background-color: rgba(81, 103, 246, 0.09);
  z-index: 1;
}

.service-container {
  margin-top: 50px;
  padding: 7%;
  min-height: 100%;
  position: absolute;
  top: 8%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  margin-top: 20px;
  gap: 40px;
  z-index: 2;
  animation: fadeIn 1s ease-in-out;
}

.service-container div {
  background-color: white;
  padding: 20px;
  border-radius: var(--btn-border-radious);
  height: 300px; 
  min-height: 200px; /* අවම උස */
  transition: all 0.5s ease-in-out;
  border: 1px solid var(--shadow-clr);
}

.service-container div img {
  width: 12vw;
}

.service-container div span {
  display: inline;
  font-family: var(--primary-fnt);
  font-weight: 700;
  font-size: 4.7vw;
  padding: 10px 0px;
  position: relative;
  bottom: 5%;
}

.service-container div p {
  font-family: var(--primary-fnt);
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.5;
  color: var(--para-font-clr);
  padding: 10px 0px;
}
}


@media screen and (min-width: 768px) and (max-width: 1023px) {
  #service {
    width: 100vw;
    min-height: 300vh; 
    background-color: var(--other-clr);
    position: relative;
    
    
  }
  
  #service h1 {
    position: relative;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: var(--primary-fnt);
    font-weight: 700;
    color: var(--secondary-clr);
    font-size: 7vw;
    text-align: center;
    z-index: 2;
  }
  
  #service h1 span {
    color: var(--primary-clr);
  }
  
  .service-ud {
    position: absolute;
    width: 40%;
    left: 50%;
    transform: translateX(-50%);
    top: 95%;
  }
  
  #service h2 {
    position: relative;
    top: 4%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 9vw;
    text-align: center;
  }
  
  #service .background-div {
    position: absolute;
    top: 6%;
    width: 100%;
    height: 100%;
    background-color: rgba(81, 103, 246, 0.09);
    z-index: 1;
  }
  
  .service-container {
    margin-top: 50px;
    padding: 7%;
    min-height: 100%;
    position: absolute;
    top: 8%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin-top: 20px;
    gap: 40px;
    z-index: 2;
    animation: fadeIn 1s ease-in-out;
  }
  
  .service-container div {
    background-color: white;
    padding: 20px;
    border-radius: var(--btn-border-radious);
    height: 300px; 
    min-height: 200px; /* අවම උස */
    transition: all 0.5s ease-in-out;
    border: 1px solid var(--shadow-clr);
  }
  
  .service-container div img {
    width: 7vw;
  }
  
  .service-container div span {
    display: inline;
    font-family: var(--primary-fnt);
    font-weight: 700;
    font-size: 3vw;
    padding: 10px 0px;
    position: relative;
    bottom: 5%;
  }
  
  .service-container div p {
    font-family: var(--primary-fnt);
    font-weight: 300;
    font-size: 1rem;
    line-height: 1.5;
    color: var(--para-font-clr);
    padding: 10px 0px;
  }
}




@media screen and (min-width:1024px) and (max-width: 1439px) {}
  





@media screen and (min-width:1440px){
  #service {
    width: 100vw;
    height: 100vh;
    background-color: var(--other-clr);
    position: relative;
    margin-top: 10%;
}

#service h1{
    font-family: var(--primary-fnt);
    font-weight: 700;
    color: var(--secondary-clr);
    font-size: var(--topic-fnt-sz);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
  }

#service h1 span{
    color: var(--primary-clr);
}

.service-ud{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    width: 50%;
    border: 1.5px solid var(--underline-clr);
}

#service h2{
    position: absolute;
    top: 2.5%;
    left: 36%;
    font-size: var(--topic-background-fnt-sz);
    font-family: var(--primary-fnt);
    color: var(--shadow-clr);
    z-index: 2;
}


#service .background-div{
    position: absolute;
    top: 7.5%;
    width: 100%;
    height: 95%;
    background-color: rgba(81, 103, 246, 0.09);
    z-index: 1; 
}

.service-container {
    padding: 7%;
    position: absolute;
    top: 10%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5%;
    z-index: 2;
    animation: fadeIn 1s ease-in-out;

}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}



.service-container div {
    background-color: white ;
    padding: 30px;
    border-radius: var(--btn-border-radious);
    height: 350px;
    transition: all 0.5s ease-in-out;
    border: 1px solid var(--shadow-clr);
    
}

.service-container div:hover {
    transform: translateY(-20px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    animation: rotate-border 1s infinite ease-in-out;
}

@keyframes rotate-border {
    0% {
        border-top-color: var(--primary-clr);
        border-right-color: var(--shadow-clr);
        border-bottom-color: var(--shadow-clr);
        border-left-color: var(--shadow-clr);
    }
    25% {
        border-top-color: var(--shadow-clr);
        border-right-color: var(--primary-clr);
        border-bottom-color: var(--shadow-clr);
        border-left-color: var(--shadow-clr);
    }
    50% {
        border-top-color: var(--shadow-clr);
        border-right-color: var(--shadow-clr);
        border-bottom-color: var(--primary-clr);
        border-left-color: var(--shadow-clr);
    }
    75% {
        border-top-color: var(--shadow-clr);
        border-right-color: var(--shadow-clr);
        border-bottom-color: var(--shadow-clr);
        border-left-color: var(--primary-clr);
    }
    100% {
        border-top-color: var(--primary-clr);
        border-right-color: var(--shadow-clr);
        border-bottom-color: var(--shadow-clr);
        border-left-color: var(--shadow-clr);
    }
}

.service-container div:hover img {
    animation: sway 1s infinite alternate ease-in-out 0.2s;


}

.service-container div span {
    display: block;
    font-family: var(--primary-fnt);
    font-weight: 700;
    font-size: 1.6rem;
    padding: 10px 0px;
}

.service-container div p {
    font-family: var(--primary-fnt);
    font-weight: 300;
    font-size: 0.9rem;
    line-height: 1.5;
    color: var(--para-font-clr);
    padding: 10px 0px;

}


@keyframes sway {
    0% {
        transform: rotate(-10deg);
    }
    50% {
        transform: rotate(10deg);
    }
    100% {
        transform: rotate(-10deg);
    }
}


}

  
  





