:root {
    --primary-fnt: "Ubuntu Sans", serif;
    --secondary-fnt: "Ubuntu Sans Mono", serif;
    --primary-clr: #5167f6;
    --secondary-clr: #131316;
    --other-clr: #fffafa;
    --shadow-clr: rgba(1, 0, 34, 0.1);
    --underline-clr: #151619;
    --line-height:2;
    --btn-padding: 10px 45px;
    --btn-border-radious: 13px;
    --para-font-clr: #505050;
  }

  * {
    margin: 0;
    padding: 0;
  }
  body {
    margin: 0;
    overflow-x: hidden;
    background-color: var(--other-clr);
    
  }

  /* ////////////////header//////////////// */

  header {
    width: 100vw;
    padding: 35px;
    background-color: #fffafa;
    box-shadow: 0px 1px 10px rgba(224, 218, 218, 0.638);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
  }

  img[alt="my logo"] {
    width: 130px;
    height: auto;
  }

  a {
    text-decoration: none;
  }

  .list-container {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-right: 120px;
  }

  .list-container li {
    margin-left: 60px;
    font-family: var(--primary-fnt);
  }

  li a {
    color: var(--secondary-clr);
    font-size: medium;
    text-decoration: none;
    position: relative;
    transition: all 0.8s ease;
  }

  li a:hover {
    color: var(--primary-clr);
    font-weight: 700;
  }

  li a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background-color: var(--primary-clr);
    transform: scaleX(0);
    transition: transform 0.8s ease;
  }

  li a:hover::after {
    transform: scaleX(1);
  }


  /* ////////////////hero section///////////////// */

  #hero {
    width: 100vw;
    height: 100vh;
  }
  #hero .container {
    width: 100%;
    height: 100%;
    position: relative;
  }

  .container .background-img {
    width: 100%;
    height: 100%;
    background-image: url("/assets/images/homeBackgeoundImage.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    top: 0;
    left: 0;
    opacity: 0.1;
    z-index: 1;
  }

  /* .content {
    position: absolute;
    top: 50%;
    text-align: center;
  } */

  .box {
    width: 6vw;
    height: 74vh;
    background-color: aqua;
    opacity: 1;
    margin: 5px;
    border-radius: 25px;
  }

  .box-container {
    position: absolute;
    display: flex;
    bottom: 3%;
    left: 72%;
  }

  .box-1 {
    background: linear-gradient(
      to bottom,
      rgba(81, 103, 246, 0.7),
      rgba(214, 214, 214, 0.5)
    );
    border: 1px solid rgba(255, 255, 255, 0.773);
    box-shadow: 2px 4px 7px rgba(172, 171, 171, 0.5);
  }

  .box-2 {
    position: relative;
    background: linear-gradient(
      to top,
      rgba(81, 103, 246, 0.7),
      rgba(214, 214, 214, 0.5)
    );
    border: 1px solid rgba(255, 255, 255, 0.773);
    top: -50px;
    box-shadow: 2px 4px 7px rgba(172, 171, 171, 0.5);
  }

  .box-3 {
    background: linear-gradient(
      to bottom,
      rgba(19, 19, 22, 0.7),
      rgba(214, 214, 214, 0)
    );
    border: 1px solid rgba(255, 255, 255, 0.773);
    box-shadow: 2px 4px 7px rgba(172, 171, 171, 0.5);
  }

  .my-img {
    width: 43vw;
    height: 67vh;
    background-image: url("/assets/images/my-prof.svg"),
      linear-gradient(to bottom, transparent, rgba(255, 255, 255, 0)); /* Gradient for opacity effect */
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 23%;
    left: 62%;
    animation: pop-up 2s alternate infinite ease-in-out;
  }

  @keyframes pop-up {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.06);
    }
  }

  #hero h3:nth-of-type(1) {
    position: absolute;
    top: 33%;
    left: 7%;
    font-size: 2rem;
    font-family: var(--primary-fnt);
    color: var(--secondary-clr);
    font-weight: 700;
  }

  #hero h3 .hello {
    font-size: 3rem;
    font-family: var(--primary-fnt);
    color: var(--primary-clr);
    font-weight: 700;
  }

  #hero h1 {
    position: absolute;
    top: 39%;
    left: 7%;
    font-size: 5.5rem;
    font-family: var(--primary-fnt);
    color: var(--secondary-clr);
    font-weight: 500;
    z-index: 2;
  }

  #hero h2 {
    position: absolute;
    top: 43.2%;
    font-size: 6.5rem;
    z-index: 1;
    left: 9%;
    font-family: var(--primary-fnt);
    color: var(--shadow-clr);
    font-weight: 700;
  }

  #hero h3:nth-of-type(2) {
    position: absolute;
    top: 56%;
    left: 7%;
  }

  .iam {
    color: var(--secondary-clr);
    font-family: var(--primary-fnt);
    font-size: 2rem;
    font-weight: 800;
  }

  .position {
    color: var(--primary-clr);
    font-size: 2.2rem;
  }

  #hero button {
    position: absolute;
    top: 68%;
    left: 7%;
    font-family: var(--secondary-fnt);
    padding: var(--btn-padding);
    border-radius: var(--btn-border-radious);
    font-weight: 700;
    font-size: 1rem;
    z-index: 3;
    transition: background-color 0.5s ease-in-out, color 3s, border 3s;
    
  }

  .about-btn {
    background-color: var(--primary-clr);
    border: 1.5px solid transparent;
    color: var(--other-clr);
  }

  .about-btn:hover {
    background-color: var(--other-clr);
    color: var(--primary-clr);
    border: 1.5px solid var(--primary-clr);
    cursor: pointer;
  }

  .hire-btn {
    margin-left: 180px;
    background-color: var(--secondary-clr);
    color: var(--other-clr);
    border: 1.5px solid transparent;
    animation: pop-up 1s alternate infinite ease-in-out;

  }

  .hire-btn:hover {
    color: var(--primary-clr);
    border: 1.5px solid var(--primary-clr);
    cursor: pointer;
  }

  @keyframes pop-up {
    0%{
      transform: scale(1);
    }

    100%{
      transform: scale(1.05);
    }
    
  }


  #about{
    width: 100vw;
    height: 100vh;
    background-color: var(--other-clr);
    position: relative;
  }

  .background-div{
    width: 100%;
    height: 600px;
    background: linear-gradient(
      to left,
      rgba(81, 103, 246, 0.15),
      transparent
);

    position: absolute;
    top: 20%;
  }

  #about h1{
    position: relative;
    left: 7%;
    font-family: var(--primary-fnt);
    font-weight: 700;
    color: var(--secondary-clr);
    font-size: 3rem;
    display: inline-block;
    transform: translateY(-30px);
    z-index: 2;
    
  }

  #about h1 span{
    color: var(--primary-clr);
  }

  #about .underline{
    position: absolute;
    width: 90px;
    border: 1.5px solid var(--underline-clr);
    bottom: -3px; 
    left: 50%;
    transform: translateX(-50%);
  }

  #about h2{
    position: relative;
    left: 7%;
    font-family: var(--primary-fnt);
    font-weight: 700;
    color: var(--shadow-clr);
    font-size: 5rem;
    transform: translateY(-70px);
    z-index: 1;

  }

  #about article p{
    position: relative;
    left: 7%;
    width: 50%;
    font-family: var(--primary-fnt);
    font-size: 1rem;
    line-height: var(--line-height);
    transform: translateY(-40px);
    color: var(--para-font-clr);
  }

  #about article p span{
    font-weight: 700;
  }

  #about article button{
    position: relative;
    left: 7%;
    font-family: var(--secondary-fnt);
    background-color: var(--primary-clr);
    padding: var(--btn-padding);
    border-radius: var(--btn-border-radious);
    font-weight: 700;
    font-size: 1rem;
    color: var(--other-clr);
    border-width: 1.5px;
    border-color: transparent;
    transition: background-color 0.5s ease-in-out, color 3s, border 3s;
  
  }

  #about article button:hover{
    cursor: pointer;
    background-color: var(--other-clr);
    color: var(--primary-clr);
    border: 1.5px solid var(--primary-clr);
    cursor: pointer;
  }



  #about .ico-circle i{
    font-size: 1.2rem;
    animation: up-down 1s alternate infinite ease-in-out;
  }

  @keyframes up-down {
    0%{
      transform: scale(1)
    }

    100%{
      transform: scale(1.15);
    }
    
  }

  #about .main-container{
    position: absolute;
    top: 50%;
    left: 70%;
    /* background-color: aquamarine; */
    font-family: var(--primary-fnt);
    color: var(--para-font-clr);
    font-style: normal;
    transform: translateY(-50%);
  }
  

  #about .ico-circle{ 
    width: 50px;
    height: 50px;
    border: 1.5px solid var(--para-font-clr);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--para-font-clr);
    margin-right: 20px;
  }

  #about .content h4{
    font-size: 1.3rem;
    font-weight: 700;
    
  }

  #about .content p{
    font-size: 1rem;
    font-weight: 500;
    
  }
  
  #about .container{
    display: flex;
    align-items: center;
    margin-bottom: 45px;
  }


  #summary {
    width: 100vw;
    height: 120vh;
    background-color: var(--other-clr);
    position: relative;
    margin-top: 60px;
    /* backgro  und-color: #5167f6; */
  }
  
  #summary h3:nth-child(1) {
    position: absolute;
    top: -8%;
    left: 50%;
    transform: translateX(-50%);
    font-family: var(--primary-fnt);
    color: var(--shadow-clr);
    font-size: 5rem;

  }
  #summary h4 {
    position: absolute;
    top: -8%;
    left: 50%;
    transform: translate(-50%, 95%);
    font-family: var(--primary-fnt);
    font-size: 3rem;
}


  #summary .round-underline {
    display: flex;
    align-items: center;
    position: absolute;
    top: -8%;
    left: 50%;
    transform: translate(-50%, 115px);
    
}

#summary .line {
    width: 40vw;
    height: 1.5px;
    background-color: var(--secondary-clr);
}

#summary .circle {
    width: 5px;
    height: 5px;
    background-color: var(--secondary-clr);
    border-radius: 100%;
}


#summary .summary-img{
  position: absolute;
  bottom:0;
  left: 0;
  width: 100%;
  height: 120%;
  background-image: url("/assets/images/summaryBackgroungImage.png");
  background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.15;
    z-index: 0;
}

#summary h3:nth-of-type(2){
  position: absolute;
  left: 50%;
  top: 170px;
  transform: translateX(-50%);
  color: var(--secondary-clr);
  font-family: var(--primary-fnt);
  font-size: 2rem;

}

#summary .main-line-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: center;
  position: relative;
  bottom: 95px;
}

#summary .main-line-container .main-line {
  width: 2px;
  height: 630px;
  background-color: var(--primary-clr);
  position: relative;
  animation: line-draw 1s 1 ease-in-out;
}

#summary .main-line-container .circle {
  width: 24px;
  height: 22px;
  background-color: var(--primary-clr);
  position: absolute; 
  top: 0px;  
  left: 50%;
  transform: translateX(-50%); 
}


@keyframes line-draw {
  0% {
    height: 0; 
  }
  100% {
    height: 630px;
  }
}

#summary .container{
  width: 300px;
  height: 0px;
  display: flex;
  justify-content: flex-end;
}





#summary .container .ln .circle{
  width: 22px;
  height: 24px;
  background-color: var(--primary-clr);
  position: absolute;
  top: -50%;
  left: 0;
  transform: translate(-50% , -50%);
  
}


#summary .container .ln{
  height: 2px;
  background-color: var(--primary-clr);
  position: relative;

}



#summary .side-line-container1 {
  position: absolute;
  top: 35%;
  left: 28%;
}

#summary .container .line-1 {
  width: 145px;
  visibility: hidden;
  animation: draw-first 0.5s ease-in-out 1s forwards;
}




#summary .side-line-container2 {
  transform: rotate(180deg);
  position: absolute;
  top: 46%;
  left: 51.5%;
}

#summary .container .line-2 {
  width: 145px;
  visibility: hidden;
  animation: draw-second 0.5s ease-in-out 1.5s forwards;
}

#summary .side-line-container3 {
  position: absolute;
  top: 63%;
  left: 28%;
}

#summary .container .line-3 {
  width: 193px;
  visibility: hidden;
  animation: draw-third 0.5s ease-in-out 2s forwards;
}


#summary .side-line-container4 {
  transform: rotate(180deg);
  position: absolute;
  top: 74%;
  left: 51.5%;
}

#summary .container .line-4 {
  width: 193px;
    visibility: hidden;
  animation: draw-fourth 0.5s ease-in-out 2.5s forwards;
}



 @keyframes draw-first {
  0% {
    width: 0;
    visibility: visible;
  }
  100% {
    width: 145px;
    visibility: visible;
  }
} 


@keyframes draw-second {
  0% {
    width: 0;
    visibility: visible;
  }
  100% {
    width: 145px;
    visibility: visible;
  }
}  


  @keyframes draw-third {
  0% {
    width: 0;
    visibility: visible;
  }
  100% {
    width: 193px;
    visibility: visible;
  }
} 

 @keyframes draw-fourth {
  0% {
    width: 0;
    visibility: visible;
  }
  100% {
    width: 193px;
    visibility: visible;
  }
}  





#summary .btn-cv{
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translate(-50% ,50%);
  padding: var(--btn-padding);
  border-radius: var(--btn-border-radious);
  font-family: var(--secondary-fnt);
  font-size: 1rem;
  font-weight: 700;
  background-color: var(--secondary-clr);
  color: var(--other-clr);
  transition: color 1s ease-in-out;

}

#summary .btn-cv:hover{
  cursor: pointer;
  color: var(--primary-clr);
}


#summary .card-container div{
  position: absolute;
  width: 360px;
  height: 100px;
  border-radius: var(--btn-border-radious);
  border: 2px solid white;
  border-bottom-color: var(--primary-clr);
  box-shadow: -0.5px -0.5px 5px var(--para-font-clr);

  background: linear-gradient(
    to bottom right, 
    rgba(255, 250, 250, 0.9),
    rgba(255, 250, 250, 0.7)
  );
  
}

#summary .card-container div p{
  font-family: var(--primary-fnt);
  margin-bottom: 8px;
  margin-left: 5px;
  
}

#summary .card-container div p:nth-child(1){
  font-size: 1.3rem;
  font-weight: 700;
  color: var(--secondary-clr);
}

#summary .card-container div p:nth-child(2){
  font-size: 0.8rem;
  font-weight: 500;
  color: var(--para-font-clr);
  line-height: 1.3;
}



#summary .card-container div:nth-of-type(1){
  display: flex;
  flex-direction: column;
  justify-content: center;
  left: 11%;
  top: 29.5%;

}

#summary .card-container div:nth-of-type(2){
  display: flex;
  flex-direction: column;
  justify-content: center;
  left: 64%;
  top: 40.5%;

}

#summary .card-container div:nth-of-type(3){
  display: flex;
  flex-direction: column;
  justify-content: center;
  left: 8%;
  top: 57.5%;

}

#summary .card-container div:nth-of-type(4){
  display: flex;
  flex-direction: column;
  justify-content: center;
  left: 67%;
  top: 68.5%;

}

#summary .card-container h5{
  font-family: var(--primary-fnt);
  font-weight: 700;
  color: var(--secondary-clr);
  font-weight: 1rem;
  position: absolute;

}


#summary .card-container h5:nth-of-type(1){
  top: 25%;
  left: 11.5%;
}

#summary .card-container h5:nth-of-type(2){
  top: 34.5%;
  left: 64%;
}

#summary .card-container h5:nth-of-type(3){
  top: 49%;
  left: 18%;
}

#summary .card-container h5:nth-of-type(4){
  top: 62%;
  left: 77%;
}






  

  



